<div class="message">
<div class="message-content group">
<header>
  <h3 class="user">

  </h3>

  <article class="group">
  <% time_ago = time_ago_in_words(message.created_at) %>
  <time><%= time_ago == "less than a minute" ? "Just now" : "#{time_ago} ago" %></time>
    <form action="<%= user_message_url(@user.id, message.id) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <div class="message-delete">
      <input type="submit" value="Delete Message">
    </div>
  </form>
  </article>
</header>
<div class="message-body">
  <p><%= message.body %></p>
</div>

<footer>

</footer>
</div>
  <% if message.sender == current_user %>
    <div class="message-thumb user-sent-message group">
      <div class="arrow-down"></div>
      <img class="avatar" src="<%= message.sender.avatar.url(:thumb) %>">
    </div>
  <% else %>
      <div class="message-thumb group">
      <div class="arrow-down"></div>
      <a href="<%= user_url(message.sender) %>">
        <img class="avatar" src="<%= message.sender.avatar.url(:thumb) %>">
      </a>
    </div>
  <% end %>
</div>
