<section class="page group">
<ul class="nav-side-bar group">
  <% if @user == current_user %>
    <%= render partial: 'layouts/overview_side_bar' %>
  <% else %>
    <li>
    <% if @already_following %>
      <a href="<%= unfollow_user_url(@user) %>">Unfollow <%= @user.username %></a>
    <% else %>
      <a href="<%= follow_user_url(@user) %>">Follow <%= @user.username %></a>
    <% end %>
    </li>
    <li><form action="<%=user_messages_url(@user) %>" method="post" class="message-form">
            <%= auth_token %>
            <label for="message-title">Subject</label>
            <input type="text" name="message[title]" value="<%= @message.title %>" id="message-title">

            <textarea name="message[body]"><%= @message.body %></textarea>
            <input type="submit" value="Send Message">
            </form>
    </li>
    <% end %>
</ul>

<section class="page-content">
  <header class="page-content-header group">
    <h1 class="page-title">Messages</h1>
  </header>

  <article class="page-section">
  <header>
    <h3>Received Messages</h3>
  </header>
  <ul>
  <% @received_messages.each do |message| %>
  <li class="group">

    <%= render partial: 'message', locals: { message: message } %>    

  </li>
  <% end %>
  </ul>
  </article>

  <article class="page-section">
  <header>
    <h3>Sent Messages</h3>
  </header>
  <ul>
  <% @sent_messages.each do |message| %>
  <li class="group">

    <%= render partial: 'message', locals: { message: message } %>

  </li>
  <% end %>
  </ul>

  </article>
</section>
