<section class="page group">
<ul class="nav-side-bar group">
  <% if @user == current_user %>
    <li><a href="<%= user_url(current_user) %>">My Profile</a></li>
    <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
    <li><a href="<%= accounts_url %>">Accounts</a></li>
    <li><a href="<%= user_url(current_user) %>">Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Email Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Notification Settings</a></li>
  <% else %>
    <li>
    <% if @already_following %>
      <a href="<%= unfollow_user_url(@user) %>">Unfollow <%= @user.username %></a>
    <% else %>
      <a href="<%= follow_user_url(@user) %>">Follow <%= @user.username %></a>
    <% end %>
    </li>
    <li><form action="<%=user_messages_url(@user) %>" method="post" class="message-form">
            <%= auth_token %>
            <label for="message-title">Subject</label>
            <input type="text" name="message[title]" value="<%= @message.title %>" id="message-title">

            <textarea name="message[body]"><%= @message.body %></textarea>
            <input type="submit" value="Send Message">
            </form>
    </li>
    <% end %>
</ul>

<section class="page-content">
  <header class="page-content-header">
    <h3 class="page-content-title">Messages</h3>
  </header>

  <article class="page-section">
  <header>
    <h3>Received Messages</h3>
  </header>
  <ul>
  <% @received_messages.each do |message| %>
      <li>
        <div class="message">
        <header>
          <h3><%= message.title %></h3>
          <time><%= message.created_at %></time>
        </header>
        <div class="message-body">
          <p><%= message.body %></p>
          <%= button_to "Delete Message", user_message_url(@user.id, message.id), method: :delete %>
        </div>
        </div>
      </li>  
  <% end %>
  </ul>
  </article>

  <article class="page-section">
  <header>
    <h3>Sent Messages</h3>
  </header>
  <ul>
  <% @sent_messages.each do |message| %>
      <li>
        <div class="message">
        <header>
          <h3><%= message.title %></h3>
          <time><%= message.created_at %></time>
        </header>
        <div class="message-body">
          <p><%= message.body %></p>
          <%= button_to "Delete Message", user_message_url(@user.id, message.id), method: :delete %>
        </div>
        </div>
      </li>  
  <% end %>
  </ul>
  </article>
</section>
