<% progress = budget.progress(budget.current_transactions) %>
<% pct = number_to_percentage(progress / budget.amount.to_f * 100, precision: 0)  %>
<article class="card">
  <header class="card-header group">
      <h3>
        <a href="<%= budget_url(budget) %>">
          <%= budget.transaction_category.description %>
        </a>
      </h3>

      <time>Created <%= time_ago_in_words(budget.created_at) %> ago</time>
    </header>
    <ul class="budget-body group">
      <li class="chart">~~chart goes here~~~</li>
      <li><%= pct %></li>
      <li><%= progress %> / <%= budget.amount %></li>
      <li><%= FREQUENCIES[budget.frequency] %></li>
      <li class="on-track"><%= budget.on_track? ? "On Track!" : "Uh Oh! You're overbudget!"%></li>
    </ul>
</article>