<% progress = budget.progress(budget.current_transactions) %>
<% pct = number_to_percentage(progress / budget.amount.to_f * 100, precision: 0)  %>
<article class="card">
  <header class="card-header group">
      <h3>
        <a href="<%= budget_url(budget) %>">
          <%= budget.transaction_category.description %>
        </a>
      </h3>

      <time>Created <%= time_ago_in_words(budget.created_at) %> ago</time>
    </header>
    <div class="budget-body group">
      <article class="chart">
      <% if budget.on_track? %>
        <% background = GOOD_CHART[:back] %>
        <% color = GOOD_CHART[:fill] %>
      <% else %>
        <% background = BAD_CHART[:back] %>
        <% color = BAD_CHART[:fill] %>
      <% end %>
      <%= bar_chart({"" => "#{pct}" }, 
      max: budget.amount, height: "100px", 
      stacked: true, 
      colors: [color],
      library: { backgroundColor: background }) %></article>
    </div>
    <table>
      <thead>
        <th>Status</th>
        <th>Progress</th>
        <th>Amount</th>
        <th>Frequency</th>
      </thead>
      <tbody>
      <tr>
        <td class="on-track"><%= budget.on_track? ? "On Track!" : "Uh Oh! You're overbudget!"%></td>
        <td><%= pct %></li>
        <td>$<%= progress %> / $<%= budget.amount %></td>
        <td><%= FREQUENCIES[budget.frequency] %></td>
      </td>
      </tbody>
    </table>
</article>