<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>

<section class="page-content">
  <header class="page-content-header group">
    <h1 class="page-title">
      <%= "#{ @budget.user.username }'s budget for: " unless @budget.user == current_user %>
      <%= FREQUENCIES[@budget.frequency] %> --
      <%= @budget.transaction_category.description %>
    </h1>

    <%= link_to "Edit Budget", edit_budget_url(@budget) %>

    <form action="<%= budget_url(@budget) %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">

      <div class="submit">
        <input type="submit" value = "Delete Budget">
      </div>
    </form>
  </header>
  <article class="page-section">
  <%= render partial: 'budget', locals: { budget: @budget } %>

    <% if @budget.user == current_user %>
      <%= render partial: 'transactions/transactions', locals: { transactions: @transactions } %>
    <% end %>
  </article>
  <div class="bottom-of-page-comment group">
    <form action="<%= budget_comments_url(@budget) %>" method="post">
    <%= auth_token %>
    <div class="input">
    <textarea name="comment[body]" id="comment-body"></textarea>
    </div>
    <div class="submit">
      <input type="submit" value="Add Comment">
    </div>
    </form>
    </div>

    <%= render @comments %>
</section>


</section>