<%= render partial: 'layouts/overview_side_bar' %>

<section class="page-content">
  <header class="page-content-header">
    <h3 class="page-content-title">
      <%= FREQUENCIES[@budget.frequency] %> --
      <%= @budget.transaction_category.description %>
    </h3>
    <%= link_to "Edit Budget", edit_budget_url(@budget) %>
    <%= button_to "Delete Budget", budget_url(@budget), method: :delete, form_class: "delete-button" %>
  </header>
  <article class="page-body">
    <%= render partial: 'transactions/transactions', locals: { transactions: @transactions } %>
  </article>
</section>