<section class="page group">
  <%= render partial: 'layouts/overview_side_bar' %>
  <section class="page-content group">
    <header class="page-content-header group">
      <h1 class="page-title">Notifications</h1>
    </header>
  <article class="page-section">
    <div class="cards group">
    <% @notifications.each do |notification| %>
      <article class="mini card" data-url="<%= notification_url(notification) %>">
        <header class="card-header group">
          <h3><%= notification.message %></h3>
          <time><%= time_ago_in_words(notification.created_at) %> ago</time>
        </header>
        <div class="mini-card-body group">
          <strong><%= link_to "#{notification.notifiable.name}", notification %></strong>
        </div>
      </article>
    <% end %>
    </div>
  </article>
  </section>
</section>

<script>
  $(document).ready(function() {
    $(".card").on("click", function(event){
      var $tar = $(event.currentTarget);
      $(location).attr('href', $tar.attr("data-url"));
    });
  });
</script>