<section class="page group">

<ul class="nav-side-bar">
    <li><a href="<%= user_url(current_user) %>">My Profile</a></li>
    <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
    <li><a href="<%= accounts_url %>">Accounts</a></li>
    <li><a href="<%= user_url(current_user) %>">Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Email Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Notification Settings</a></li>
</ul>

<form action="<%= user_url(@user) %>" method="post" enctype="multipart/form-data">
<section class="page-content">

<%= auth_token %>
  <header class="page-content-header">
    <% if @user.avatar %>
      <img class="avatar" src="<%= @user.avatar.url %>">
    <% end %>
    <div class="file">
      <label for="user-avatar">Edit Photo</label>
      <input type="file" name="user[avatar]" id="user-avatar">
    </div>

    <h3 class="page-content-title">Edit Profile, <%= @user.username %></h3>
  </header>

  <article class="page-body">
  <div class="user-edit">
  <input type="hidden" name="_method" value="patch">

    <label for="gender">Gender</label>
    <label id="gender" for="gender-m">M</label>
      <input type="radio" 
        name="profile[gender]" 
        value="0" 
        <%= "checked" if @profile.gender == 0%> id="gender-m">
    
    <label id="gender" for="gender-f">F</label>
      <input type="radio" 
        name="profile[gender]" 
        value="1"
        <%= "checked" if @profile.gender == 1%> id="gender-f">

  <div class="input">
    <label for="user-age">Age</label>
    <input type="text" name="profile[age]" value="<%= @profile.age %>" id="user-age">
  </div>

  <% zip = @profile.zip_code.nil? ? '' : @profile.zip_code.to_s.try(:rjust, 5, '0') %>
  <div class="input">
  <label for="user-zip">Zip Code</label>
    <input type="text" 
    name="profile[zip_code]" 
    value="<%= zip %>" id="user-zip">
  </div>

  <div class="submit">
    <input type="submit" value="Update Profile">
  </div>
    </div>
  </form>
</article>
</section>
</section>