<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <header class="page-content-header group">
    <h3>Follow People!</h3>
  </header>

  <article class="page-body">
    <section class="cards group">
    <% @users.each do |user| %>
    <article class="user card">
      <header class="card-header group">
        <a href="<%= user_url(user) %>"><img src="" class="profile-thumbnail" alt="THUMBNAIL" width="100px" height="100px"></a>
        <div class="user-info-card group">
          <h3><a href="<%= user_url(user) %>"><%= user.username %></a></h3>
          <strong>Fame: <%= user.total_fame %></strong>
          <time>Joined <%= time_ago_in_words(user.created_at) %></time>
        </div>
          

      </header>


    </article>
    <% end %>
  </section>

  </article>
</section>







