<form class="new-user-form" action="<%= users_url %>" method="post">
  <%= auth_token %>

  <h1 class="page-title">PepperMint</h1>
  <h3>Sign Up!</h3>

  <a href="<%= new_session_url %>">Already have an account? Log in!</a>
  <div class="input">
    <label for="user-email">Email</label>
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </div>

  <div class="input">
    <label for="user-username">Username</label>
    <input type="text" name="user[username]" value="<%= @user.email %>">
  </div>

  <div class="input">
  <label for="user-password">Password</label>
  <input type="password" name="user[password]" value="<%= @user.email %>">
  </div>

  <div class="submit login-button">
    <input type="submit" value="Sign Up!">
  </div>
</form>