<form class="new-user-form" action="<%= users_url %>" method="post">
  <%= auth_token %>

  <h1 class="page-title">Sign Up!</h1>
  <div class="input">
    <label for="user-email">Email</label>
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </div>

  <div class="input">
    <label for="user-username">Username</label>
    <input type="text" name="user[username]" value="<%= @user.email %>">
  </div>

  <div class="input">
  <label for="user-password">Password</label>
  <input type="password" name="user[password]" value="<%= @user.email %>">
  </div>

  <div class="submit">
    <input type="submit" value="Sign Up!">
  </div>
</form>