<section class="page group">
<ul class="nav-side-bar group">
  <% if @user == current_user %>
    <li><a href="<%= user_url(current_user) %>">My Profile</a></li>
    <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
    <li><a href="<%= user_url(current_user) %>">Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Email Settings</a></li>
    <li><a href="<%= user_url(current_user) %>">Notification Settings</a></li>
  <% else %>
    <li>
    <% if @already_following %>
      <a href="<%= unfollow_user_url(@user) %>">Unfollow <%= @user.username %></a></li>
    <% else %>
      <a href="<%= follow_user_url(@user) %>">Follow <%= @user.username %></a></li>
    <% end %>
    <li>
      <div class="message-form-container">
        <form action="<%=user_messages_url(@user) %>" method="post" class="message-form">
          <%= auth_token %>

          <div class="input">
            <textarea name="message[body]"><%= @message.body %></textarea>
          </div>

          <div class="submit">
            <input type="submit" value="Send Message">
          </div>
          </form>
        </div>
    </li>
    <div class="messages">
    <li>Messages</li>
  <ul>
  <% @messages.each do |message| %>
    <li class="group"><%= render partial: 'messages/message', locals: { message: message } %></li>
  <% end %>
  </ul>
    </div>
  <% end %>
</ul>
  <section class="page-content">
    <header class="page-content-header group">
      <% if @user.avatar %>
        <img class="avatar" src="<%= @user.avatar.url %>">
      <% end %>
      <h1 class="page-title"><%= @user.username %></h1>
      <strong class="fame">Fame: <%= @user.total_fame %></strong>

      <ul class="user-header-info-list group">
        <li class="user-header-info-item">Age: <%= @profile.age %></li>
        <li class="user-header-info-item">Gender: <%= GENDER[@profile.gender] %></li>
        <li class="user-header-info-item">
        Zip Code: <%= @profile.zip_code.to_s.try(:rjust, 5, '0') unless @profile.zip_code.nil? %></li>
        <li class="user-header-info-item">
        Joined: <%= @profile.created_at.to_formatted_s(:month_and_year) %></li>
      </ul>
  </header>

  <%= render partial: 'layouts/overview_main', locals: { goals: @goals, budgets: @budgets } %>
</section>
</section>