    <section class="shares">
      <% shares.each do |share| %>
        <article class="share">
          <header class="share-header">
            <div class="thumb">
            <a href="<%= user_url(share.user.id) %>"><img src=""></a>
            </div>
            <h3><a href="<%= user_url(share.user.id) %>"><%= share.user.username %></a></h3>
            <time><%= share.created_at %></time>
          </header>
          <p><%= share.message %></p>
          <% fame = share.fames.select { |fame| fame.user_giving_fame_id == current_user.id }.first %>
          <div class="fame"><%= share.total_fame %></div>
          <% if fame %>
          <%# fail %>
          <%= button_to "Unfame", fame_url(fame), method: :delete %>
          <% else %>
          <%# fail %>
          <%= button_to "Fame!", fame_user_url(share.user, share) %>
          <%= button_to "Shame...", shame_user_url(share.user, share) %>
          <% end %>
        </article>
      <% end %>
    </section>