<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
  <section class="page-content">
  <header class="page-content-header group">
  <% if @all %>
    <strong class='unselected'><a href="<%= followed_feed_url %>">Followed Updates</a></strong>
    <strong class="selected"><a href="<%= feed_url %>">All Updates</a></strong>
  <% else %>
    <strong class='selected'><a href="<%= followed_feed_url %>">Followed Updates</a></strong>
    <strong class="unselected"><a href="<%= feed_url %>">All Updates</a></strong>
  <% end %>

  </header>
  <%= render partial: 'feed', locals: { shares: @shares } %>
  </section>
</section>