<article class="card">
  <header class="card-header group">
    <h3><a href="<%= goal_url(goal) %>"><%= goal.name %></a></h3>
    <time>Created: <%= time_ago_in_words(goal.goal_date) %> ago</time>
  </header>
  <div class="goal-subsection">

    <article class="chart">
      <% if goal.overall_on_track? %>
        <% background = GOOD_CHART[:back] %>
        <% color = GOOD_CHART[:fill] %>
      <% else %>
        <% background = BAD_CHART[:back] %>
        <% color = BAD_CHART[:fill] %>
      <% end %>
      <%= bar_chart({"" => goal.overall_progress}, 
      max: goal.amount, height: "100px", colors: [color],
      library: {backgroundColor: background }) %></article>
      <table class="goals-table">
        <thead>
          <th>Total Goal Status</th>
          <th>Goal Amount</th>
          <th>Amount So Far</th>
        </thead>
        <tbody>
          <tr>
            <td><%= goal.overall_on_track? ? "On Track!" : "Uh oh, you're behind!" %></td>
            <td><%= goal.amount %></td>
            <td><%= goal.overall_progress %></td>
          </tr>
        </tbody>
      </table>

      
      </div>

      <div class="goal-subsection">
      <% if goal.this_month_on_track? %>
        <% background = GOOD_CHART[:back] %>
        <% color = GOOD_CHART[:fill] %>
      <% else %>
        <% background = BAD_CHART[:back] %>
        <% color = BAD_CHART[:fill] %>
      <% end %>
      <article class="chart">

      <%= bar_chart({"" => goal.this_month_progress}, 
      max: goal.monthly_amount, height: "100px", colors: [color],
      library: {backgroundColor: background }) %>

      </article>
        <table>
        <thead>
          <th>Status this Month</th>
          <th>Monthly Amount</th>
          <th>Amount Saved This Month</th>
        </thead>
        <tbody>
          <tr>
            <td><%= goal.this_month_on_track? ? "On Track!" : "Uh oh, you're behind this month!" %>
            <td><%= goal.monthly_amount %></td>
            <td><%= goal.this_month_progress %></td>
          </tr>
        </tbody>
      </table>

      </div>
</article>