<article class="card">
  <header class="card-header group">
    <h3><a href="<%= goal_url(goal) %>"><%= goal.name %></a></h3>
    <time>Created: <%= time_ago_in_words(goal.goal_date) %> ago</time>
  </header>
      <table class="goals-table">
        <tr>
          <td>Total Goal Status</td>
          <td>Goal Amount</td>
          <td>Amount So Far</td>
          <td></td>
        </tr>
        <tr>
          <td><%= goal.overall_on_track? ? "On Track!" : "Uh oh, you're behind!" %></td>
          <td><%= goal.amount %></td>
          <td><%= goal.overall_progress %></td>
          <td>~~~chart_goes_here</td>
        </tr>

        <tr>
          <td>Status this Month</td>
          <td>Monthly Amount</td>
          <td>Amount Saved This Month</td>
          <td></td>
        </tr>
        <tr>
          <td><%= goal.this_month_on_track? ? "On Track!" : "Uh oh, you're behind this month!" %>
          <td><%= goal.monthly_amount %></td>
          <td><%= goal.this_month_progress %></td>
          <td>~~~chart goes here</td>
        </tr>
      </table>
  </div>
</article>