<div class="transactions-table">
<table>
<thead>
  <th>Account</th>
  <th>Date</th>
  <th>Description</th>
  <th>Category</th>
  <th>Amount</th>
  <th></th>
</thead>
<tbody>
<% transactions.each do |transaction| %>
<% category = transaction.try(:merchant_category).merchant_category %>
  <tr class="table-data">
    <td><a href="<%= account_url(transaction.account) %>"><%= transaction.account.account_name %></a></td>
    <td><%= transaction.try(:date) %></td>
    <td><%= transaction.try(:description) %></td>
    <td><%= category %></td>
    <td>$<%= transaction.try(:amount) %></td>
    <td><%= link_to "Edit",  edit_transaction_url(transaction)%>
  </tr>
<% end %>
</tbody>
</table>
</td>
