    <% category = transaction.try(:merchant_category).merchant_category %>
  <tr class="table-data transaction-container" data-transaction-id="<%= transaction.id %>">
    <td><a href="<%= account_url(transaction.account) %>"><%= transaction.account.account_name %></a></td>
    <td><%= transaction.try(:date) %></td>
    <td><textarea 
    class="inline-edit" name="transaction[description]"
    data-transaction-url="<%= transaction_url(transaction) %>"><%= transaction.try(:description) %></textarea></td>
    <td><%= category %></td>
    <td>$<%= transaction.account.account_type == 2 ? (-1 * transaction.amount) : transaction.amount %></td>
  </tr>