<section class="page group" data-url="<%= transactions_url %>">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <header class="page-content-header group">
    <h3 class="page-title">All Transactions</h3>
</header>
<article class="page-body">



  <script type="application/json" id="url-data">
    <%= urls_for_transaction_categories.to_json.html_safe %>
  </script>

  <div id="pie-chart-container"></div>
      <form action="<%= account_choose_url %>" method="get" class="account-selector group">
    <div class="select">
      <select name="account[id]">
        <option value="0" selected>All</option>
        <% @accounts.each do |account| %>
           <%= account.account_name %>
           <option value="<%= account.id %>"><%= account.account_name %></option>
        <% end %>
      </select>
      </div>
      <div class="submit view-button">
        <input type="submit" value="View">
      </div>
      </form>
      <div class="transactions-table-container">
        <%= render partial: 'transactions/transactions', locals: { transactions: @transactions } %>
      </div>
  </article>
</section>
</section>


    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      $(document).ready(function() {



        google.load('visualization', '1.0', {'packages':['corechart']});

        google.setOnLoadCallback(drawChart);

        var pieData = JSON.parse($("#pie-chart-data").html());
        var urls = JSON.parse($("#url-data").html());
        console.log(urls);
     
        labels = [];
        pieData.forEach(function(arr) {
          labels.push(arr[0])
        });

        dataRows = [];

        pieData.forEach(function(arr) {
          dataRows.push([arr[0], arr[1]]);
        });


        console.log(labels);
        function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Category');
          data.addColumn('number', 'Count');
          // console.log(rows);
          data.addRows(pieData);

          var options = {'title':'Transactions by Category', 'height': 400 };

          var chart = new google.visualization.PieChart(document.getElementById('pie-chart-container'));
          

          function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
              console.log(chart.getSelection());
              var goToUrl = urls[data.getValue(selectedItem.row, 0)]
              console.log(goToUrl);
              $.ajax({
                url: goToUrl,
                type: 'GET',
                success: function (data) {
                  $(".transactions-table-container").empty();
                  $(".transactions-table-container").html(data);
                }
              })
            }
          };

          function readyHandler () {
            $("#pie-chart-container").on('click', function (event) {
              console.log(event)
            if ($(event.target).prop("tagName") == "rect") {
              $.ajax({
                url: $(".page").attr("data-url"),
                type: 'GET',
                success: function(data) {
                  console.log('in here')
                  chart.setSelection();
                  $(".transactions-table-container").empty();
                  $(".transactions-table-container").html(data);
                }
              })
            }
           });
          };

          google.visualization.events.addListener(chart, 'select', selectHandler);
          google.visualization.events.addListener(chart, 'ready', readyHandler);
          chart.draw(data, options);
        }
    });
    </script>