
<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <header class="account-header">
    <h3 class="header-title">All Transactions</h3>

    <form action="<%= account_choose_url %>" method="get">
      <select name="account[id]">
        <option value="0" selected>All</option>
        <% @accounts.each do |account| %>
           <%= account.account_name %>
           <option value="<%= account.id %>"><%= account.account_name %></option>
        <% end %>
      </select>
      <input type="submit" value="View">
      </form>
  </header>

  <article class="page-body">
    <%= render partial: 'transactions/transactions', locals: { transactions: @transactions } %>
  </article>
</section>
</section>