  <% progress = budget.progress %>
  <% pct = number_to_percentage(progress / budget.amount.to_f * 100, precision: 0)  %>
  <div class="page-body-item-container">
    <div class="page-body-item">
      <ul>
        <li class="chart">~~chart goes here~~~</li>
        <li><%= pct %></li>
        <li><%= progress %> / <%= budget.amount %></li>
        <li><%= budget.transaction_category.description %></li>
        <li><%= Budget.frequencies[budget.frequency] %></li>
      </ul>
    </div>
  </div>