
  <article class="overview group">
  <header class="overview-subheader">
    <h3>Net Expenditure per month</h3>
  </header>

  <%= line_chart @transactions.group_by_month(:date, format: "%B %Y").sum(:amount), discrete: true, min: nil %>
  
  <header class="overview-subheader">
    <h3>Budgets</h3>
    <% unless @user %>
      <a href="<%= new_budget_url %>">Add Budget</a>
    <% end %>
  </header>


  <section class="budgets">
    <% budgets.each do |budget| %>
      <%= render partial: 'budgets/budget', locals: { budget: budget } %>
    <% end %>
  </section>
  </article>

  <article class="overview group">
  <header class="overview-subheader">
    <h3>Goals</h3>
    <% unless @user %>
      <a href="<%= new_goal_url %>">Add Goal</a>
    <% end %>
  </header>

  <section class="goals">
    <% goals.each do |goal| %>
      <%= render partial: 'goals/goal', locals: { goal: goal } %>
    <% end %>
  </section>
  </article>
