<header class="header">
<div class="header-wrap group">
  <h1 class="header-logo">
    <a href="<%= overview_url %>">
      PepperMint
    </a>
  </h1>
<% if current_user %>
<nav class="header-nav">

  <ul class="group">
    <li><a href="#">Feed</a></li>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Messages</a></li>
    
    
    <li>
    <a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
    </li>
    <li>
    <form class="logout-button" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
    </li>
    </ul>
  </nav>

  <% end %>
  </div>
</header>