<header class="header">
<div class="header-wrap group">
  <h1 class="header-logo">
    <a href="<%= overview_url %>">
      PepperMint
    </a>
  </h1>
<% if current_user %>
<nav class="header-nav">

  <ul class="group">
    <li><a href="<%= users_url %>">Follow People</a></li>
    <li><a href="<%= feed_url %>">Feed</a></li>
    <li><a href="<%= user_notifications_url(current_user) %>">Notifications</a></li>
    <li><a href="<%= user_messages_url(current_user.id) %>">Messages</a></li>
    
    
    <li>
    <a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
    </li>
    <li class="group">
    <form class="logout-button" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <div class="logout">
        <input type="submit" value="Log Out">
      </div>
    </form>
    </li>
    </ul>
  </nav>

  <% end %>
  </div>
</header>