<!DOCTYPE html>
<html>
<head>
  <title>PepperMint</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= render partial: 'layouts/top_nav_bar' %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <div class="alert-error"><%= error %></div>
  <% end %>
<% elsif flash[:alerts] %>
  <% flash[:alerts].each do |alert| %>
  <div class="alert"><%= alert %></div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
