<section class="page group">
<ul class="nav-side-bar">
<%= render partial: 'layouts/overview_side_bar' %>
</ul>

<section class="page-content">

  <header class="page-content-header group">
    <h3 class="page-title"><%= @account.account_name %></h3>
    <form action="<%= account_choose_url %>" method="get">
      <select name="account[id]">
        <option value="0">All</option>
        <% @accounts.each do |account| %>
           <option value="<%= account.id %>" <%= "selected" if @account.id == account.id%>>
           <%= account.account_name %>
           </option>
        <% end %>
      </select>
      <input type="submit" value="View">
  </header>

  <%= pie_chart  data_for_transaction_categories(@transactions) %>
  <article class="page-body">
    <%= render partial: 'transactions/transactions', locals: { transactions: @transactions } %>
  </article>
  
  
</section>
</section>